:root {
    --color-primary: #0d6efd;   
    --color-blue: #007bff;
    --color-orange: #ee6b2f;
    --color-white: white;
    --color-yellow: #FFCB05;
    --color-grey: #919191;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 420px), 1fr));
  gap: 20px;
}

.post-container > article {
  padding: 20px;
}

.btn-article{
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: var(--color-four);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

.btn-article:hover {
  background-color: var(--color-primary);
}

summary {
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
  font-weight: bold;
  color:	var(--color-blue);
}

summary::after {
  content: " más";
}

details[open] summary::after {
  content: " menos";
}

time{
    color: var(--color-orange);
    font-family: "Roboto", arial, sans-serif;
    font-size: 100%;
    font-weight: 500;
    line-height: 125%;
    margin: 0.5em 0;
}

.title {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  padding: 20px;
  color:	var(--color-yellow);
  -webkit-text-stroke: 2px var(--color-blue);
  font-weight: bold;
  font-size: 60px;
}

.article-container img{
  border-radius: 5px;
}

.tags{
  color:  var(--color-grey);
}

.text{
  font-family: "Orbitron", sans-serif;
  color: var(--color-grey);

}

details p{
  color: var(--color-grey) ;
}